fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
pytest
httpx
python-dotenv
feedparser
requests
beautifulsoup4
psutil
